
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0f1a;
    color:white;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    background:#111827;
    border-bottom:2px solid #1f2937;
    position:sticky;
    top:0;
    z-index:1000;
}

.topbar h1{
    font-size:22px;
}

.wallet{
    background:#1f2937;
    padding:8px 12px;
    border-radius:10px;
    color:#00ff99;
    font-weight:bold;
}

.navbar{
    display:flex;
    overflow-x:auto;
    background:#111827;
}

.navbar button{
    flex:1;
    min-width:100px;
    padding:14px;
    background:none;
    color:white;
    border:none;
    cursor:pointer;
    transition:0.2s;
}

.navbar button:hover{
    background:#1f2937;
}

.tab{
    display:none;
    padding:20px;
}

.tab.active{
    display:block;
}

.card{
    background:#1f2937;
    border-radius:15px;
    padding:15px;
    margin-top:15px;
}

.primary-btn{
    background:#22c55e;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.primary-btn:hover{
    background:#16a34a;
}

.secondary-btn{
    background:#374151;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
}

input,
select{
    width:100%;
    margin-top:10px;
    padding:10px;
    border-radius:8px;
    border:none;
    background:#374151;
    color:white;
}

.stat{
    display:flex;
    justify-content:space-between;
    margin:8px 0;
}
/* ===== Dashboard ===== */

.xpBar{
    width:100%;
    height:14px;
    background:#111827;
    border-radius:20px;
    overflow:hidden;
    margin-top:12px;
    margin-bottom:8px;
}

#xpFill{
    width:0%;
    height:100%;
    background:linear-gradient(90deg,#22c55e,#00ff99);
    transition:0.4s;
}

#xpText{
    text-align:center;
    color:#b8c0cc;
    font-size:14px;
}

.missions{
    list-style:none;
    margin-top:10px;
}

.missions li{
    background:#111827;
    padding:12px;
    margin-top:10px;
    border-radius:10px;
    border-left:4px solid #22c55e;
    transition:.2s;
}

.missions li:hover{
    transform:translateX(5px);
}

.card h2,
.card h3{
    margin-bottom:12px;
}

.card p{
    color:#cbd5e1;
}

.primary-btn{
    width:100%;
    margin-top:15px;
}
